.popup__input {
  display: flex;
  width: 100%;
  padding: 0 0 10px 0;
  font-size: 14px;
  color: #000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  box-sizing: border-box;
}

@media screen and (max-width: 510px) {
  .popup__input {
    font-size: 12px;
    line-height: 1.25;
    padding-bottom: 9px;
  }
}

.popup__input:focus {
  outline: none;
}
